/* Fonts */
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/static/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/static/SpaceMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/static/SpaceMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/static/SpaceMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/static/SpaceMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


/* Global text overrides */
html, body, [class*="st-"] {
  font-family: 'SpaceGrotesk', sans-serif;
}
code, pre {
  font-family: 'SpaceMono', monospace;
}

/* Icon Color Override */

/* Color of user icon */
[data-testid="stChatMessageUser"] svg {
  fill: #cb785c;  
}

/* Color of assistant icon */
[data-testid="stChatMessageAssistant"] svg {
  fill: #66e3ff;  
}


/* Change background */
body {
    background-color: #dfdfdf;
    color: white;
}

.stApp{  
    background-color: #7ca0c0;
    color:#052346;  
    padding:20px;
}  

/* Main app stlying - chat input class */
.stApp .stChatInput {  
    background-color: #8bb4cf;  
    border: 1px dashed #04385e; 
    border-radius: 5px; 
    padding: 0px 0px;  
    background-color: #b3b6cc; 
    font-size: 16px;  
    color: #2b2c31; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}  

.stApp .stChatInput:hover {
box-shadow: 0 20px 8px rgba(0, 0, 0, 0.15); 
border-color: #57a2cc;  
}


/* Main title styling */  
h1 {  
    color: #052346;  
    text-align: center;  
    margin-bottom: 20px;  
    font-family:cursive;
    font-size: 50px;
}  

/* Button styling */
.stButton button {  
    background-color: #5293b5;  
    color: white;  
    border-radius: 5px;  
    padding: 10px 20px;  
    font-size: 16px;  
    border: none;  
    cursor: pointer;  
}  
.stButton button:hover {  
    background-color: #057ba6;  
    color: blueviolet
}  


