/* Main app styling*/
.stApp{  
    background-color: #7ca0c0;
    color:#052346;  
    padding:20px;
}  

/* Main app stlying - chat input class */
.stApp .stChatInput {  
    background-color: #8bb4cf;  
    border: 1px dashed #04385e; 
    border-radius: 5px; 
    padding: 0px 0px;  
    background-color: #b3b6cc; 
    font-size: 16px;  
    color: #2b2c31; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}  

.stApp .stChatInput:hover {
box-shadow: 0 20px 8px rgba(0, 0, 0, 0.15); 
border-color: #57a2cc;  
}


/* Main title styling */  
h1 {  
    color: #052346;  
    text-align: center;  
    margin-bottom: 20px;  
    font-family:cursive;
    font-size: 50px;
}  

/* Button styling */
.stButton button {  
    background-color: #5293b5;  
    color: white;  
    border-radius: 5px;  
    padding: 10px 20px;  
    font-size: 16px;  
    border: none;  
    cursor: pointer;  
}  
.stButton button:hover {  
    background-color: #057ba6;  
    color: blueviolet
}  


