/* Fonts */
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/static/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/static/SpaceMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/static/SpaceMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/static/SpaceMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('/static/SpaceMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


/* Global text overrides */
html, body, [class*="st-"] {
  font-family: 'SpaceGrotesk', sans-serif;
}
code, pre {
  font-family: 'SpaceMono', monospace;
}

/* Icon Color Override */

/* Color of user icon */
[data-testid="stChatMessageUser"] svg {
  fill: #cb785c;  
}

/* Color of assistant icon */
[data-testid="stChatMessageAssistant"] svg {
  fill: #66e3ff;  
}
